{#
// inputs:
// - postion: string - one of [start, end] (required)
#}

<div class="block block-sidebar block-sidebar--position--{{ position }}">
    <div class="block-sidebar__item">
        {% include '/widgets/widget-search.twig' %}
    </div>
    <div class="block-sidebar__item">
        {% include '/widgets/widget-aboutus.twig' %}
    </div>
    <div class="block-sidebar__item">
        {% include '/widgets/widget-categories.twig' with {
            categories: blog_categories
        } only %}
    </div>
    <div class="block-sidebar__item">
        {% include '/widgets/widget-posts.twig' %}
    </div>
    <div class="block-sidebar__item">
        {% include '/widgets/widget-newsletter.twig' %}
    </div>
    <div class="block-sidebar__item">
        {% include '/widgets/widget-comments.twig' %}
    </div>
    <div class="block-sidebar__item">
        {% include '/widgets/widget-tags.twig' %}
    </div>
</div>