<div class="block block-sidebar">
    <div class="block-sidebar__item">
        {% include '/widgets/widget-filters.twig' %}
    </div>
    <div class="block-sidebar__item d-none d-lg-block">
        {% include '/widgets/widget-products.twig' %}
    </div>
</div>